<div>


    <div style="border: 2px solid gray; margin: 15px; padding: 10px">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam vel
            nisi
            id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!</p>

        <hr>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam vel
            nisi
            id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!</p>

        <hr>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam vel
            nisi
            id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!</p>
    </div>

    <div #floatingHeaderContainer *ngIf="isHeaderSticky" class="floating-header-container" [style.left.px]="tableContainerLeft" [style.width.px]="tableContainerWidth">
        <div #floatingScrollContainer class="floating-scroll-container">
            <table mat-table [dataSource]="dataSource" class="holdings-table">
                <!-- Replicate all column definitions here for the floating header -->
                <ng-container [matColumnDef]="'name'" sticky>
                    <th mat-header-cell *matHeaderCellDef> name </th>
                </ng-container>

                <ng-container *ngFor="let column of moveableColumns;">
                    <ng-container [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
                    </ng-container>
                </ng-container>

                <ng-container [matColumnDef]="'toggleAction'" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef> <button>Toggle</button> </th>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            </table>
        </div>
    </div>

    <div style="display: flex; border: 2px solid gray; margin: 15px; padding: 10px; ">

        <div style="border: 2px solid gray; margin: 15px; padding: 10px; max-width: 5vw;">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam
                vel nisi
                id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!</p>

        </div>



   <div #tableContainer class="holdings-table-container" style="margin: 15px; flex-grow: 1;" (scroll)="onTableScroll($event)">

            <table #mainTable mat-table [dataSource]="dataSource" class="holdings-table" [trackBy]="trackByFn">

                <ng-container [matColumnDef]="'name'" sticky>
                    <th mat-header-cell *matHeaderCellDef>
                        name
                    </th>
                    <td mat-cell *matCellDef="let holdingRow" class="shadow-test">
                        {{ holdingRow.name }}
                    </td>
                </ng-container>

                <ng-container *ngFor="let column of moveableColumns;">
                    <ng-container [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef>
                            {{ column }}
                        </th>
                        <td mat-cell *matCellDef="let holdingRow; let i = index" [class.top-row]="i === topRowIndex">
                            <div>{{ holdingRow[column] }}</div>
                        </td>
                    </ng-container>
                </ng-container>

                <ng-container [matColumnDef]="'toggleAction'" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef >
                        <button>Toggle</button>

                    </th>
                    <td mat-cell *matCellDef="let holdingRow">
                        <button>Toggle</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"  ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(row)" [ngClass]="{'holdings-table__row--expanded' : !row.expandable}"></tr>

            </table>

        </div>


        <div style="border: 2px solid gray; margin: 15px; padding: 10px; max-width: 5vw;">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam
                vel nisi
                id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!</p>

        </div>


    </div>


    <div style="border: 2px solid gray; margin: 15px; padding: 10px">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam vel
            nisi
            id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!</p>

        <hr>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam vel
            nisi
            id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!</p>

        <hr>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam vel
            nisi
            id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!</p>
    </div>


</div>

<hr>