.holdings-table-container {
  overflow-x: scroll;
}

.floating-header-container {
  position: fixed;
  top: 0;
  z-index: 10;
  background: lightgray; // Match header background
}

.floating-scroll-container {
  overflow-x: hidden;
}


.holdings-table {

  &__row--expanded {
    background-color: darkgray;
    color: white;
  }

}


.mat-mdc-table-sticky {
  background: lightpink;
  opacity: 1;
}

.mat-mdc-header-row {
  background: lightpink;
}

.mat-mdc-row {
  min-height: 60px; // Default row height
  border: 2px solid lightgray;
}

.mat-mdc-cell {
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-column-toggleAction {
  position: relative;
  overflow: visible;
  min-width: 5vw;
}

.mat-column-name {
  position: relative;
  overflow: visible;
  min-width: 10vw;
}


.mat-column-name::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  width: 8px;
  background: linear-gradient(to right,
      rgba(0, 0, 0, 0.15), // Start color (darker)
      rgba(0, 0, 0, 0) // End color (fully transparent)
    );
  pointer-events: none;

}


.mat-column-toggleAction::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 8px;
  background: linear-gradient(to left,
      rgba(0, 0, 0, 0.15), // Start color (darker)
      rgba(0, 0, 0, 0) // End color (fully transparent)
    );
  pointer-events: none;

}


.account-type-chip::before {
  content: '';
  display: inline-block;
  height: 60%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-right: solid 5px red;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.account-type-chip-div::before{
  content: '';
  height: 50%;
  display: inline;
  position: static;
  border-right: solid 5px blue;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}