<div>


    <div style="border: 2px solid gray; margin: 15px; padding: 10px">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam vel
            nisi
            id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!
        </p>

        <hr>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam vel
            nisi
            id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!
        </p>

        <hr>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam vel
            nisi
            id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!
        </p>

    </div>


    <div style="display: flex; border: 2px solid gray; margin: 15px; padding: 10px; ">

        <div style="border: 2px solid gray; margin: 15px; padding: 10px; max-width: 5vw;">

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam
                vel nisi
                id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!
            </p>

        </div>



   <div class="holdings-table-container" style="margin: 15px; flex-grow: 1;">

            <div #stickyDiv id="sticky-div" style="position: fixed; top: 0; background: red; display: none;">
                Div to display when the table's header moves past the vieport's top edge
            </div>

            <table #mainTable mat-table [dataSource]="dataSource" class="holdings-table" [trackBy]="trackByFn">

                <ng-container [matColumnDef]="'name'" sticky>
                    <th mat-header-cell *matHeaderCellDef>
                        name
                    </th>
                    <td mat-cell *matCellDef="let holdingRow">
                        {{ holdingRow.name }}
                    </td>
                </ng-container>

                <ng-container *ngFor="let column of moveableColumns;">
                    <ng-container [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef>
                            {{ column }}
                        </th>
                        <td mat-cell *matCellDef="let holdingRow; let i = index" [class.top-row]="i === topRowIndex">
                            <div>{{ holdingRow[column] }}</div>
                        </td>
                    </ng-container>
                </ng-container>

                <ng-container [matColumnDef]="'toggleAction'" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef >
                        <button>Toggle</button>

                    </th>
                    <td mat-cell *matCellDef="let holdingRow">
                        <button>Toggle</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"  ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

        </div>


        <div style="border: 2px solid gray; margin: 15px; padding: 10px; max-width: 5vw;">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam
                vel nisi
                id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!</p>

        </div>


    </div>


    <div style="border: 2px solid gray; margin: 15px; padding: 10px">

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam vel
            nisi
            id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!
        </p>

        <hr>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam vel
            nisi
            id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!
        </p>

        <hr>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est facilis, officiis soluta inventore aperiam vel
            nisi
            id iure expedita sit illum totam architecto omnis sequi quo quaerat voluptas maxime dolorum!
        </p>

    </div>


</div>

<hr>