<form class="scrollable-div" 
    [ngStyle]="{
            '--list-item-height': LIST_ITEM_HEIGHT + 'px',
            '--max-visible-items': ITEMS_TO_SHOW
    }"
>

    <ol cdkDropList class="columns-list">
        <ng-container *ngFor="let column of allColumnsInDefaultOrder">
            <li class="columns-list__list-item" #listItem cdkDrag>
                <div class="list-item-content">
                    <span>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                    </span>
                    <strong>
                        <input type="checkbox" id="column-{{ column.id }}">
                        <label for="column-{{ column.id }}">{{ column.name }}</label>
                    </strong>
                    <span>
                        {{ column.description }}
                    </span>
                </div>
            </li>
        </ng-container>
    </ol>

</form>