<mat-table [dataSource]="dataSource" multiTemplateDataRows [trackBy]="trackByFn">

    <ng-container [matColumnDef]="'name'" sticky>
        <mat-header-cell *matHeaderCellDef>
            name
        </mat-header-cell>
        <mat-cell *matCellDef="let holdingRow" class="shadow-test">
            {{ holdingRow.name }}
        </mat-cell>
    </ng-container>

    <ng-container *ngFor="let column of moveableColumns">
        <ng-container [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef>
                {{ column }}
            </mat-header-cell>
            <mat-cell *matCellDef="let holdingRow">
                {{ holdingRow[column] }}
            </mat-cell>
        </ng-container>
    </ng-container>

    <ng-container [matColumnDef]="'toggleAction'" stickyEnd>
        <mat-header-cell *matHeaderCellDef>
            <button>Toggle</button>

        </mat-header-cell>
        <mat-cell *matCellDef="let holdingRow">
            <button>Toggle</button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleRow(row)"></mat-row>

</mat-table>