.mat-mdc-header-row,
.mat-mdc-footer-row,
.mat-mdc-row {
  min-width: 100px; 
}

.holdings-table {
   min-width: max-content;
}

.mat-mdc-table-sticky {
  background: #59abfd;
  opacity: 1;
}

.mdc-data-table__cell, .mdc-data-table__header-cell{
    border-bottom-style: none;
    min-width: 100px;
}

.mat-column-toggleAction {
    min-width: 10vw;
    filter: drop-shadow(-4px 0 2px rgba(0, 0, 0, 0.2));
}

.mat-column-name {
    min-width: 20vw;
    box-shadow: 0 0 15px rgba(0,0,0,0.75);
    clip-path: inset(0 -15px 0 0);
}

.parent-container {
  max-width: 100%;
}

.parent-parent-container {
  margin-left: 10vw;
  margin-right: 10vw;
}

.holdings-table-container {
  position: relative;
}

.table-scroll-wrapper {
  overflow-x: auto;
}

.parent-parent-container, .parent-container, .holdings-table-container {
  outline: 3px solid red;
}







