<section class="holdings-table-container">
    <mat-table [dataSource]="dataSource" multiTemplateDataRows>

        <ng-container [matColumnDef]="'name'" sticky>
            <mat-header-cell *matHeaderCellDef>
                name
            </mat-header-cell>
            <mat-cell *matCellDef="let holdingRow">
                {{ holdingRow.name }}
            </mat-cell>
        </ng-container>

        <ng-container *ngFor="let column of moveableColumns">
            <ng-container [matColumnDef]="column">
                <mat-header-cell *matHeaderCellDef>
                    {{ column }}
                </mat-header-cell>
                <mat-cell *matCellDef="let holdingRow">
                    {{ holdingRow[column] }}
                </mat-cell>
            </ng-container>
        </ng-container>

        <ng-container [matColumnDef]="'toggleAction'" stickyEnd>
            <mat-header-cell *matHeaderCellDef>
                <button>Toggle</button>

            </mat-header-cell>
            <mat-cell *matCellDef="let holdingRow">
                <button>Toggle</button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="accounts">
            <mat-cell [attr.colspan]="displayedColumns.length" *matCellDef="let holding">
                <mat-table [dataSource]="holding.accounts">

                    <ng-container [matColumnDef]="'name'" sticky>
                        <mat-cell *matCellDef="let holdingRow">
                            {{ holdingRow.name }}
                        </mat-cell>
                    </ng-container>

                    <ng-container *ngFor="let column of moveableColumns">
                        <ng-container [matColumnDef]="column">
                            <mat-cell *matCellDef="let accountRow">
                                {{ accountRow[column] }}
                            </mat-cell>
                        </ng-container>
                    </ng-container>

                    <ng-container [matColumnDef]="'toggleAction'" stickyEnd>
                        <mat-cell *matCellDef="let holdingRow">
                            <button>Toggle</button>
                        </mat-cell>
                    </ng-container>

                    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

                </mat-table>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        <mat-row *matRowDef="let row; columns: ['accounts'];"></mat-row>

    </mat-table>

</section>